body {
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.arrow {
  height: 50px;
  cursor: pointer;
}
.container > img {
  filter: drop-shadow(3px 2px 4px rgb(239, 243, 239));
  transition: filter 0.8s ease;
}
.container > img:hover {
  filter: drop-shadow(3px 2px 4px rgb(4, 196, 26));
}
.frame {
  overflow: hidden;
  box-shadow: -1px 1px 10px rgba(67, 220, 244, 0.5), 0 0 10px rgb(2, 105, 14);
  display: flex;
}
.slider {
  width: 600px;
  height: 400px;
  display: flex;
  transition: all 1s ease-in;
  height: 100%;
}
.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
